name: Build and Deploy Docker Image
on: [push]

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download the repository
        uses: actions/checkout@v6.0.1

      - name: Log in to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5.10.0
        with:
          images: kszymhu/kitty-crowd

      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@v6.18.0
        with: 
          context: .
          file: ./Dockerfile
          push: True
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/kszymhu/kitty-crowd
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: True
